<footer class="footer">
    <div class="container">
        <div class="row">
            
            <div class="footer-col">
                <h4>PRODUCTS</h4>
                <ul>
                    <li><a href="javascript:void(0);">Qomet Qonnect</a></li>
                    <li><a href="javascript:void(0);">Marketplace</a></li>
                    <li><a href="javascript:void(0);">Managed Database</a></li>
                    <li><a href="javascript:void(0);">Cloud Compute</a></li>
                    
                </ul>
            </div>
            <div class="footer-col">
                <h4>RESOURCES</h4>
                <ul>
                    <li> <a href="javascript:void(0);">Documentation</a></li>
                    <li><a href="javascript:void(0);" routerLink="blogs">Blog</a></li>
                    <li><a href="javascript:void(0);">Affiliate Program</a></li>
                    <li><a href="javascript:void(0);">Startup Program</a></li>
                    <li><a href="javascript:void(0);">Q&A</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>ABOUT</h4>
                <ul>
                    <li><a routerLink="about" href="javascript:void(0);">About Us</a></li>
                    <li><a href="javascript:void(0);">What is Qomet </a></li>
                    <li><a href="javascript:void(0);">Brand Resources </a></li>
                    <li><a href="javascript:void(0);">Career</a></li>
                    <li><a href="javascript:void(0);">Partners</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>SUPPORT</h4>
                <ul >
                    <li class="d-flex">   <a href="javascript:void(0);">Contact</a></li>
                    <li class="d-flex">  <a routerLink="server" href="javascript:void(0);">System Status</a></li>
                    <li class="d-flex">  <a href="javascript:void(0);">Report Abuse</a></li>
                    <!-- <li><a href="javascript:void(0);"></a></li> -->
                </ul>
            </div>
            <div class="footer-col">
                <ul>
                    <li class="color1"> <img src="assets/img/home/errow.png" alt=""> Subscribe to our newsletter</li>
                    <li style="    color: #fff;
                    margin-top: 30px;">Your email address :</li>
                    <div class="emailinput">
                        <input class="form" type="text"> 
                    <button class="btnn">Go</button>
                    </div>
                </ul>
                
            </div>
        </div>
      
    </div>

</footer>

<div style="background-color: #F6F6F6;">
    <div class="container copyright py-4">
        <div class="cp">© {{year}} Qomet Qluod</div>
<div class="Privacy">
    <div routerLink="terms" class="mright cp"> Terms of Service </div>
    <div routerLink="privacy" class="mright cp">Privacy Policy</div>
    <div routerLink="cookies" class="mright cp">Cookie Preferences</div>
</div >
        <div class="cp">
            Qomet is an  <a href="https://illumial.in"><img style="height: 10px;" src="assets/img/illumial.png" alt="illumial"></a>company
            <!-- Qomet is a  <img style="height: 15px;" src="assets/img/home/digiqul.png" alt=""> COMPANY -->
        </div>
    
    </div>
</div>


