<div class=" topnav" id="myTopnav">
    <div class="topnav2">

        <div class="">
            <a href="javascript:void(0);" (click)="homePage()" class="active pointer"><img class="logo"
                    src="assets/img/home/logo.png" alt=""></a>

            <a href="javascript:void(0);" class="item" (click)="myFunction()">Features</a>


            <a href="javascript:void(0);" class="  pointer" (click)="myFunction()">Pricing</a>


            <a href="javascript:void(0);" style="position: relative;" class=" pointer" (click)="myFunction()">Marketplace
                <img style="position: absolute;" src="assets/img/home/new.png" alt="">
            </a>


        </div>


        <div class="">
            <!-- <a href="javascript:void(0);" class=" mailbox mt-1">  deploy@qomet.in </a>
            <a href="javascript:void(0);" routerLink="login" class=" mt-1 pointer"> <button class="btnn">login</button></a>
            <a href="javascript:void(0);" routerLink="register" class=" mt-1 pointer"> <button class="btnn1">Register</button></a> -->
            <a  class=" mailbox">
                <div class="mt-1 pointer">
                    <select name="" id="">
                        <option value="">USD</option>
                        <option value="">INR</option>
                    </select>
                </div>
            </a>
        </div>

        <a href="javascript:void(0);" class="icon" (click)="myFunction()">
            <i class="fa fa-bars"></i>
        </a>

    </div>


</div>