
<section class="" style="background-color: #2f39bf;; height: 100vh;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="text-center mb-2">
            <div><img class="logo" src="assets/img/logo.png" alt=""></div>
            <div><b>QOMET</b></div>
          </div>
  
         <section  >
          <div class="card shadow-2-strong mb-2">
            <div class="card-body p-5">  
                 <h3 class="mb-4 text-center" style="color: #2f39bf; ;">Activate-user successfully </h3>
                <div class="text-center">
                   <div class="headingSmall" routerLink="login">click here to Login</div>
                </div>
            </div>
            <div class="d-flex p-3" style="background-color: #2f39bf;; justify-content: center; align-items: center;">
          
            </div>
          </div>
         </section>
   
  
  
  
  
  
        </div>
      </div>
    </div>
  
    <footer style="background-color: #2f39bf;;" class="">
      <!-- Copyright -->
      <div class="text-center d-flex justify-content-between  p-3" style="color:  white;">
        <div class="col-sm-5">
          <div class="d-flex " style="flex-wrap: wrap; justify-content:space-between; ">
    
            <a style="color:  white; margin-right: 5px;" href="https://Qomet.in/"> © 2020 Qomet.in</a>
    
            <div class="footerDiv">
              Terms of Service
            </div>
    
            <div class="footerDiv">
              Privacy Policy
            </div>
    
            <div class="footerDiv">
              Cookie Preferences
            </div>
          </div>
        </div>
    
        <!-- <div class="col-sm-3"></div> -->
    
        <div class="col-sm-3" style="color: white ; cursor: pointer;">
          <div class="d-flex" style="flex-wrap:wrap">
            <p> QOMET IS A </p> &nbsp; &nbsp; <img class="digiqulLogo" src="assets/img/digiqul.png" alt="">&nbsp; <p>COMPANY</p>
          </div>
        </div>
    
    
      </div>
    
      <!-- Copyright -->
    </footer>
    
  </section>