.billingBox{
    background-color: #FFF;
    max-width: 566px;
    border-top:  1px solid #2f39bf;
    color: #2f39bf;
    text-align: center;
    // align-items: center;
}

.smallbox{

    background-color: #2f39bf;
    margin: 5px;
    padding: 10px;
    min-width: 114px;

}

.btn{
    width: auto;
}