<div class="qq-blue">

    <div class="container">
        <div class="qq-div1">

            <div class="qq-bigText">Contact Us</div>

            <p class="qq-smallText mt-2">
                Need help? Our Frequently Asked Questions can assist, or feel free to contact us for more <br> support.
            </p>

        </div>

    </div>
</div>

<div class="container  my-5 ">

    <div class="row">

        
    <div class="col-sm-8 color">
        <div class="qq-flex">
            <div class="col-sm-6">
                <label for=""><b>Topic</b></label>
                <select class="form-select" name="" id="">
                    <option value="">Support</option>
                    <option value="">Support</option>
                </select>
            </div>

            <div class="col-sm-6">
                <label for=""><b>Name</b></label>
                <input class="form-control" type="text" name="name">
            </div>
        </div>

        <div class="qq-flex">
            <div class="col-sm-6">
                <label for=""><b>Email</b></label>
                <input class="form-control" type="text" name="email">
            </div>

            <div class="col-sm-6">
                <label for=""><b>Phone</b></label>
                <input class="form-control" type="text" name="phone">
            </div>
        </div>

        <div class="qq-flex">
            <div class="col-sm-6">
                <label for=""><b>Company</b></label>
                <input class="form-control" type="text" name="name">
            </div>

            <div class="col-sm-6">
                <label for=""><b>Attachment</b></label>
                <input class="form-control" type="file" name="name">
            </div>
        </div>

        <div class="col-sm-12 mt-3">
            <label for=""><b>Message</b></label>
            <textarea class="form-control" name="" id="" cols="30" rows="6"></textarea>
        </div>

        <div class="col-sm-12 mt-4">
            <button class="btnn">Submit</button>
        </div>

    </div>

    <div class="col-sm-4 p-4">
        <h2 class="color mt-4">Registered Office</h2>

        <div>
            <h5>Illiminal System Private Limited</h5> 
            <p>
                SF-221, Second Floor, Sohna Rd, Sector 48
                Gurugram, Haryana 122018 IN
            </p>
            <p>
                CIN : U74999HR2020PTC089010
            </p>

        </div>
    </div>
    </div>


</div>