.qq-blue{
    background: #2F39BF;
    .qq-smallText {
        font-size: 14px;
        color: #F1CD00;
    
    }
}

.qq-div1{

    padding-top: 50px;
    padding-bottom: 50px;
}

.qq-bigText {
    font-size: 40px;
    font-weight: bolder;
    color: #F1CD00;
}

.qq-smallText {
    font-size: 14px;
    color: #0A0A0A;

}

.qq-midText {
    font-size: 28px;
    color: #2f39bf;
}

.qq-flex{
    display: flex;
    margin-top: 15px;
    // gap: 10;
}