.sidebar .sidebar-wrapper{
  overflow-x: hidden;
  height: 100vh;
  background-color: #fff;
  width: 5rem;

  .active-pro{
    bottom: 22px;
  }
}


.sidebar .sidebar-wrapper2{
  overflow-x: hidden;
  height: 100vh;
  background-color: #2f39bf;
  width: 10rem;

  .active-pro{
    bottom: 22px;
  }
}


