<div class="qq-div1">

    <div class="container">
        <img src="assets/img/home/logo.png" alt="">
        <div class="mt-2">
            Revolutionizing Cloud Computing
        </div>

        <div class="qq-box">
            <div>
                <b class="qq-color"> <h4>Hello,</h4></b> <br>

                <div class="m-1">
                    Please verify that your email address and that you entered it when signing up for <span
                    class="qq-color">Qomet Qloud.</span>
                </div>

            </div>

            <button class="btnn">
                Verify
            </button>

            <div class="m-2">
                <span class="qq-color"> Qomet Qloud</span> is a leading cloud computing provider that offers businesses
                a comprehensive platform for managing their computing resources.
            </div>
        </div>


        <div class="qq-mt">
            Need help? Contact our support team or write us at <a href="deploy@qomet.in" class="qq-color1">deploy@qomet.in</a>
        </div>
    </div>

</div>


<footer>
    <div style="background-color: #F6F6F6;">
        <div class="container copyright py-4">
            <div class="cp">© {{year}} Qomet Qluod</div> 
            &nbsp; &nbsp;
            <div class="Privacy">
                <div class="mright cp"> Terms of Service </div>
                <div routerLink="privacy" class="mright cp">Privacy Policy</div>
                <div class="mright cp">Cookie Preferences</div>
            </div>
            <div class="cp">
                Qomet is an <a href="https://illumial.in"><img style="height: 10px;" src="assets/img/illumial.png"
                        alt="illumial"></a>company
                <!-- Qomet is a  <img style="height: 15px;" src="assets/img/home/digiqul.png" alt=""> COMPANY -->
            </div>

        </div>
    </div>
</footer>